body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #3b3c3d;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #3b3c3d;
    color: white;
    text-align: center;
    padding: 10px;
}

button {
    padding: 10px 50px;
    background-color: #3b3c3d;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3b3c3d;
}
#images-container {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* To ensure space for images */
}

#images-container img {
    width: 470px;
    height: 470px;
    display: none; /* Initially hidden */
}
